<mat-grid-list cols="4" rowHeight="300px" [gutterSize]="'10px'">
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <app-encounter></app-encounter>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-chief-complaint-latest></app-chief-complaint-latest>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <app-assessment-list></app-assessment-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <router-outlet></router-outlet>
    </mat-grid-tile>
    <!--
    <mat-grid-tile [colspan]="4" [rowspan]="2">
        <router-outlet></router-outlet>
    </mat-grid-tile> -->
</mat-grid-list>