a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.spacer {
    flex: 1 1 auto;
}

.mat-toolbar span a span {
  font-size: 12px;
  font-weight: 100;
}
