<div class="physical-exam-wrapper">
  <div class="physical-exam-left">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Quick Nav</mat-card-title>
          </mat-card-header>
          <mat-card-content>
              <mat-list>
                  <mat-list-item> <a routerLink="./height" routerLinkActive="active">Height</a> </mat-list-item>
                  <mat-list-item> <a routerLink="./weight" routerLinkActive="active">Weight</a> </mat-list-item>
                  <mat-list-item> <a routerLink="./temperature" routerLinkActive="active">Temperature</a> </mat-list-item>
                  <mat-list-item> <a routerLink="./blood-pressure" routerLinkActive="active">Blood pressure</a> </mat-list-item>
                  <mat-list-item> <a routerLink="./respiratory-rate" routerLinkActive="active">Respiratory rate</a> </mat-list-item>
              </mat-list>
          </mat-card-content>
      </mat-card>
  </div>
  <div class="physical-exam-right">
      <router-outlet></router-outlet>
  </div>
</div>
