<mat-grid-list cols="6" rowHeight="350px" [gutterSize]="'10px'">

    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-grid-tile-header>Temperature</mat-grid-tile-header>
        2
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-grid-tile-header>Weight</mat-grid-tile-header>
        3
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="2">
        <mat-grid-tile-header>Height</mat-grid-tile-header>
        4
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1" class="list-left">
        <mat-grid-tile-header>Blood pressure</mat-grid-tile-header>
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
        </mat-list>
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-grid-tile-header>Respiratory rate</mat-grid-tile-header>
        5
        <mat-grid-tile-footer>Footer</mat-grid-tile-footer>
    </mat-grid-tile>
</mat-grid-list>