.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  align-items: center;
}
.mat-expansion-panel-header-description {
  flex-grow: 10;
  align-items: center;
  position: relative;
}
.display-right {
  position: absolute;
  right: 0;
  visibility: hidden;
}
.mat-content:hover .display-right {
  visibility: visible;
}
.prescription {
    list-style: none;
    padding: 0;
    display: flex;
    flex-grow: 1;
}
ul.prescription li {
  width: 20%;
}
ul.prescription.list-head {
  background: #e4e4e4;
  padding: .3rem;
  font-weight: 500;
}
