.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
  align-items: center;
}
.mat-expansion-panel-header-description {
  flex-grow: 10;
  align-items: center;
  position: relative;
}
.display-right {
  position: absolute;
  right: 0;
  visibility: hidden;
}
.mat-content:hover .display-right {
  visibility: visible;
}
mat-list {
  display: flex;
  flex-grow: 1;
}
.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  height: 32px;
}
.mat-list-base .mat-list-item {
  font-size: 14px !important;
}
