
<div style="margin: 2em 0;">
    <button mat-stroked-button color="primary" (click)="onCreate()" style="margin-bottom: 1em;">
        <mat-icon>add</mat-icon> Create Prescritpion
    </button>
    <mat-accordion class="example-headers-align">
      <mat-expansion-panel *ngFor="let row of prs" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ row.created | date:'medium' }}
          </mat-panel-title>
          <mat-panel-description>
              {{ row.complaint }}
          </mat-panel-description>
        </mat-expansion-panel-header>
              <ul class="prescription list-head">
                <li>Maintenable</li>
                <li>Medicine</li>
                <li>Prescription</li>
                <li>Sig</li>
                <li>Quantity</li>
              </ul>
                <div *ngFor="let prList of row.prescriptions">
                  <ul class="prescription">
                    <li>{{prList.maintenableFlg ? 'Yes': 'No'}}</li>
                    <li>{{prList.medicine}}</li>
                    <li>{{prList.preparation}}</li>
                    <li>{{prList.sig}}</li>
                    <li># {{prList.quantity}}</li>
                  </ul>
                </div>
        <mat-action-row>
          <button mat-icon-button (click)="onEdit(row.id)"><mat-icon>launch</mat-icon></button>
          <button mat-icon-button color="warn" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
          <button mat-icon-button color="primary" (click)="onPrint()"><mat-icon>print</mat-icon></button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="perPage"></mat-paginator> -->
    <mat-paginator [length]="total"
              [pageSize]="perPage"
              [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="prs.length > 0">
    </mat-paginator>
    <!-- <button mat-icon-button color="primary" (click)="onCreate()">
        <mat-icon>add</mat-icon>
    </button> -->
    <p class="info-text mat-body" *ngIf="prs.length <= 0  && !isLoading">No Prescription added yet!</p>
  </div>
