<h2 mat-dialog-title>{{ title }}
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="form" class="normal-form" (submit)="onSave()" *ngIf="!isLoading">
        <table>
          <tr>
            <!-- <td>
                <mat-form-field>
                    <mat-label>Complaint</mat-label>
                    <mat-select formControlName="complaint">
                      <mat-option *ngFor="let cc of ccs" [value]="cc.complaints">
                        {{cc.complaints}}
                      </mat-option>
                    </mat-select>
                </mat-form-field>
            </td> -->
            <td>
                <mat-form-field>
                    <input matInput readonly [matDatepicker]="picker" formControlName="record_date" [max]="maxDate" placeholder="Date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker color="primary"></mat-datepicker>
                </mat-form-field>
            </td>
          </tr>
        </table>
        <table cellspacing="0" formArrayName="prescriptions">
            <tr *ngFor="let group of prescriptionArray.controls; let i = index;" [formGroupName]="i">
                <td>
                    <mat-checkbox formControlName="maintenableFlg"></mat-checkbox>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="text" formControlName="medicine" placeholder="Medicine">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="text" formControlName="preparation" placeholder="Preparation">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="text" formControlName="sig" placeholder="Sig">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                        <input matInput type="number" formControlName="quantity" placeholder="Quantity">
                    </mat-form-field>
                </td>
                <td>
                    <button mat-icon-button (click)="addPrescription()" type="button"><mat-icon>add</mat-icon></button>
                    <button mat-icon-button color="warn" *ngIf="prescriptionArray.controls.length > 1" (click)="removePrescription(i)" type="button"><mat-icon>delete_outline</mat-icon></button>
                </td>
            </tr>
        </table>
        <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
</mat-dialog-content>
