mat-grid-tile {
  border: 1px solid rgba(0, 0, 0, .12);
}
mat-grid-list {
  margin: 1em 0;
}
mat-grid-list ::ng-deep figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
  padding: 1em;
}
