<mat-grid-list cols="6" rowHeight="100px" [gutterSize]="'10px'">
  <mat-grid-tile [colspan]="6" [rowspan]="1" class="grid-content">
      <mat-grid-tile-header>
          <h3 style="width: 100%;">Chief Complaints
            <button mat-icon-button (click)="onUpdate('chief-complaint', id)" style="position: absolute;
              right: 8px;
              top: 5px;">
                  <mat-icon>launch</mat-icon>
            </button>
          </h3>
      </mat-grid-tile-header>
      <div style="padding: 1em; margin-top: 2.6em;">
        <mat-chip-list>
            <mat-chip *ngFor="let complaint of complaints" color="primary" selected>{{ complaint.complaint }}</mat-chip>
        </mat-chip-list>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="2" class="grid-content">
      <mat-grid-tile-header>
          <h3 style="width: 100%;">Assessment
            <button mat-icon-button (click)="onUpdate('assessment', assessmentId)" style="position: absolute;
              right: 8px;
              top: 5px;">
                  <mat-icon>launch</mat-icon>
            </button>
          </h3>
      </mat-grid-tile-header>
      <div class="grid-inner-content grid-inner-content-list">
          <table class="table">
              <tr>
                <td>Diagnosis</td>
                <td>Treatments</td>
              </tr>
              <tr>
                <td>
                    <ul style="list-style: none;
                    padding: 0;
                    line-height: 2;
                    margin: 0;">
                      <li *ngFor="let diagnose of diagnosis">{{diagnose.diagnose}}</li>
                    </ul>
                    <span *ngIf="diagnosis == null">--</span>
                </td>
                <td>
                    <ul style="list-style: none;
                    padding: 0;
                    line-height: 2;
                    margin: 0;">
                      <li *ngFor="let treatment of treatments">{{treatment.treatment}}</li>
                    </ul>
                    <span *ngIf="treatments == null">--</span>
                </td>
              </tr>
            </table>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="2" class="grid-content">
      <mat-grid-tile-header>
          <h3 style="width: 100%;">Prescription
            <button mat-icon-button (click)="onUpdate('prescription', prescriptionId)" style="position: absolute;
              right: 8px;
              top: 5px;">
                  <mat-icon>launch</mat-icon>
            </button>
            <button mat-icon-button (click)="onPrintPreview(prescriptionId)" style="position: absolute;
            right: 36px;
            top: 5px;"><mat-icon>print</mat-icon></button>
          </h3>
      </mat-grid-tile-header>
      <div class="grid-inner-content grid-inner-content-list">
          <table class="table">
            <tr>
              <td>Medicine</td>
              <td>Preparation</td>
              <td>Sig</td>
              <td>Qty</td>
            </tr>
            <tr *ngFor="let prescription of prescriptions">
              <td>
                  {{prescription.medicine}}
              </td>
              <td>
                  {{prescription.preparation}}
              </td>
              <td>
                  {{prescription.sig}}
              </td>
              <td>
                  {{prescription.quantity}}
              </td>
            </tr>
          </table>
          <span *ngIf="prescriptions == null">--</span>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="1" class="grid-content">
      <mat-grid-tile-header>
          <h3 style="width: 100%;">Progress notes
            <button mat-icon-button (click)="onUpdate('progress-notes', noteId)" style="position: absolute;
              right: 8px;
              top: 5px;">
                  <mat-icon>launch</mat-icon>
            </button>
          </h3>
      </mat-grid-tile-header>
      <div class="grid-inner-content grid-inner-content-list">
          {{note}}
          <span *ngIf="note == null">--</span>
      </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="6" [rowspan]="3" class="grid-content">
      <mat-grid-tile-header>
          <h3>Test Result</h3>
      </mat-grid-tile-header>
      <div class="grid-inner-content grid-inner-content-list">
        <app-upload></app-upload>
      </div>
  </mat-grid-tile>
</mat-grid-list>
