.test-result-area {
  display: inline-flex;
  vertical-align: top;
}
div#test-result-list {
  width: 18%;
  border-right: 1px solid rgba(0, 0, 0, .12);
  padding: 1em;
}
div#test-result-detail {
  width: 77%;
  padding: 1em;
}
app-test-result-list {
  width: 100%;
}
