
mat-grid-list ::ng-deep figure {
  justify-content: flex-start !important;
  align-items: flex-start !important;
}
mat-grid-list {
  margin-top: 10px;
}
.mat-grid-tile {
  border: 1px solid rgba(0, 0, 0, .12);
}

.mat-grid-tile:not(:first-child) {
overflow: auto;
}
