<!-- <mat-grid-list [cols]="breakpoint" rowHeight="300px" gutterSize="10px">
  <mat-grid-tile [colspan]="2" [rowspan]="2">
      <app-encounter></app-encounter>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <app-chief-complaint-latest></app-chief-complaint-latest>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <router-outlet></router-outlet>
  </mat-grid-tile>
</mat-grid-list> -->

<router-outlet></router-outlet>
<!--
  abdominal pain,
  flank pain,
  overdose (intentional),
abdominal problems,
fluid/nutrition alteration,
peripheral vascular/leg pain,
allergies/hives/med reaction/sting,
foreign body procedure
assault, rape follow-up psychiatric/social problems
back pain genito-urinary problem respiratory problems
bites gun-shot wound skin complaint/trauma
body aches gynecological problem stabbing
burns headache stroke/CVA
cardiac arrest hemorrhage substance abuse
cardio-vascular complaint industrial/machinery accidents fainting/syncope
chest pain infection temperature related
convulsions, seizures ingestion (accidental) traffic injury
dental, toothache laceration traumatic injuries specific (FT)
diabetic problems medication refill unconsciousness
(specific) diagnosis (FT) neck pain unknown problem (man down)
dizzy needlestick vaginal bleeding
ear/nose/throat problems neurological complaint weakness
eye problem obstetrical problem
fall orthopedic injury
fever other (FT)
  -->