#datable-wrapper {
    margin: 2em auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td.mat-cell.cdk-column-action.mat-column-action {
    text-align: right;
}

.hide {
    display: none;
}

.mat-paginator {
    background: transparent;
}

mat-footer-row mat-footer-cell {
    justify-content: center;
    font-style: italic;
}

.hide {
    display: none;
}

.component-page-header {
    padding: 2em 0 0;
}

.search-div {
    position: relative;
}

.search-div button {
    position: absolute;
    left: 0;
}

.search-div mat-form-field {
    width: 92% !important;
    margin-left: 8%;
}

table.mat-table tbody tr td:last-child {
    width: 10%;
}

table.mat-table tbody tr td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

td.mat-cell.cdk-column-action.mat-column-action {
    text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
    visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
    visibility: visible;
}