#card {
  margin: 2em auto;
  width: 50%;
}

mat-form-field {
  width: 100%;
}

mat-form-field:not(:first-child) {
  margin-left: 1em;
}

.form-field-block {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-basis: auto;
}

textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
