mat-form-field {
    width: 100%;
}

mat-form-field:not(:first-child) {
    margin-left: 1em;
}

.form-field-block {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-basis: auto;
}

textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

input[type="file"] {
    visibility: hidden;
}

.image-preview {
    height: 5rem;
    margin: 1rem 0;
}

.image-preview img {
    height: 100%;
}

.mat-dialog-title button {
    float: right;
    border: none;
}

.mat-dialog-title {
    border-bottom: 1px solid rgb(169, 169, 169);
    padding: 0 0 1em 0;
}