mat-form-field,
textarea {
    width: 100%;
}

mat-spinner {
    margin: auto;
}

mat-card {
    width: 40%;
    margin: 1rem auto;
}

button.mat-raised-button.mat-primary.ng-star-inserted {
    margin-top: 2em;
}