.invoice { page-break-after: always; }
.invoice:last-child { page-break-after: avoid; }


mat-spinner {
  margin: auto;
}

.mat-dialog-title button {
  float: right;
  border: none;
}

.mat-dialog-title {
  border-bottom: 1px solid rgb(169, 169, 169);
  padding: 0 0 1em 0;
}

button.mat-raised-button mat-icon {
  vertical-align: middle;
  margin-right: .3em;
}
