
<h2 mat-dialog-title>{{ title }}
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography">
  <div id="print-section">
    <!--Your html stuff that you want to print-->
    {{recordId}}
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button mat-primary" printTitle="PatientName" printSectionId="print-section" ngxPrint><mat-icon>print</mat-icon> Print</button> <!--Your relevant print button-->
</mat-dialog-actions>
