mat-table {
  margin-top: 1em;
}

table {
  width: 100%;
}

.hide {
  display: none;
}

.mat-paginator {
  background: transparent;
}

td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: visible;
}

mat-mini-fab {
  margin-bottom: 1em;
}

td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type, th.mat-header-cell:first-of-type {
  padding-left: 24px;
  cursor: pointer;
}
