<mat-list role="list">
    <h3 mat-subheader *ngIf="complaints == null  && !isLoading">No complaints for today!</h3>
    <div *ngIf="complaints != null">
        <h3 mat-subheader>Current Complaint as of &nbsp;<strong> {{ createdDate | date }}</strong></h3>
        <mat-list-item role="listitem" *ngFor="let complaint of complaints; let i = index;">{{complaint.complaint}}</mat-list-item>
        <!--<button mat-icon-button color="primary" (click)="onCreate(complaintId)">
            <mat-icon>add</mat-icon>
        </button>-->
    </div>
</mat-list>