<h2 mat-dialog-title>{{ title }}
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</h2>
<mat-dialog-content class="mat-typography">
    <div id="content" #content>
        <mat-grid-list cols="6" rowHeight="100px" [gutterSize]="'10px'">
            <mat-grid-tile [colspan]="6" [rowspan]="1" class="grid-content">
                  <div id="patient-info">
                      <div class="patient-detail">
                          <img src="{{image}}" alt="{{firstname + ' ' + midlename + ' ' + lastname}}">
                      </div>
                    <div class="patient-detail">
                      <ul>
                        <li>Fullname: {{firstname + ' ' + midlename + ' ' + lastname}}</li>
                        <li>Age: {{gender}}</li>
                      </ul>
                    </div>
                    <div class="patient-detail">
                        <ul>
                          <li>Birthdate: {{ birthdate | date }}</li>
                          <li>Gender: {{gender}}</li>
                        </ul>
                      </div>
                  </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-grid-tile-header>
                    <h3>Height</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-center" style="font-size: 30px;
                line-height: 0.8;">
                    <mat-icon style="transform: rotate(90deg);
                    position: absolute;
                    left: 20%;
                    font-size: 60px;
                    top: 35%;">straighten</mat-icon>
                    {{height}}<span *ngIf="height == null">--</span> cm <br/>
                    <span style="font-size: 16px;">{{heightCreated | date}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-grid-tile-header>
                    <h3>Weight</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-center" style="font-size: 30px;
                line-height: 0.8;">
                    <mat-icon style="transform: rotate(90deg);
                position: absolute;
                left: 20%;
                font-size: 60px;
                top: 35%;">settings_input_svideo</mat-icon>
                    {{weight}}<span *ngIf="weight == null">--</span> kg <br/>
                    <span style="font-size: 16px;">{{weightCreated | date}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-grid-tile-header>
                    <h3>Temperature</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-center" style="font-size: 30px;
                line-height: 0.8;">
                    <mat-icon style="position: absolute;
                    left: 5%;
                    font-size: 60px;
                    top: 35%;">whatshot</mat-icon>
                    {{temperature}}<span *ngIf="temperature == null">--</span> &#8451; <br/>
                    <span style="font-size: 16px;">{{temperatureCreated | date}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-grid-tile-header>
                    <h3>Blood Pressure</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-center" style="font-size: 30px;
                line-height: 0.8;">
                    <mat-icon style="position: absolute;
                    left: 5%;
                    font-size: 60px;
                    top: 35%;">alarm</mat-icon>
                    {{tempSystolic}}/{{tempDiastolic}} <span *ngIf="tempSystolic == null && tempDiastolic == null">--</span> <br/>
                    <span style="font-size: 16px;"> {{tempCreated | date}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2">
                <mat-grid-tile-header>
                    <h3>Respiratory rate</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-center" style="font-size: 30px;
                line-height: 0.8;">
                    <mat-icon style="position: absolute;
                    left: 5%;
                    font-size: 60px;
                    top: 35%;">vibration</mat-icon>
                    {{respiratoryRate}}<span *ngIf="respiratoryRate == null">--</span> bpm <br/>
                    <span style="font-size: 16px;"> {{respiratoryRateCreated | date}}</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Histories</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">
                    <ul style="list-style: none;
                  padding: 0;
                  line-height: 2;
                  margin: 0;">
                        <li *ngFor="let history of histories"><strong>{{history.type}}</strong> : {{history.description}}</li>
                    </ul>
                    <span *ngIf="histories == null">--</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Complaints</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">
                    <ul style="list-style: none;
                    padding: 0;
                    line-height: 2;
                    margin: 0;">
                        <li *ngFor="let complaint of complaints">{{complaint.complaint}}</li>
                    </ul>
                    <span *ngIf="complaints == null">--</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Assessments</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">
                    <table class="table">
                        <tr>
                            <td>Diagnosis</td>
                            <td>Treatments</td>
                        </tr>
                        <tr>
                            <td>
                                <ul style="list-style: none;
                          padding: 0;
                          line-height: 2;
                          margin: 0;">
                                    <li *ngFor="let diagnose of diagnosis">{{diagnose.diagnose}}</li>
                                </ul>
                                <span *ngIf="diagnosis == null">--</span>
                            </td>
                            <td>
                                <ul style="list-style: none;
                          padding: 0;
                          line-height: 2;
                          margin: 0;">
                                    <li *ngFor="let treatment of treatments">{{treatment.treatment}}</li>
                                </ul>
                                <span *ngIf="treatments == null">--</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="4" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Prescriptions</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">
                    <table class="table">
                        <tr>
                            <td>Medicine</td>
                            <td>Preparation</td>
                            <td>Sig</td>
                            <td>Qty</td>
                        </tr>
                        <tr *ngFor="let prescription of prescriptions">
                            <td>
                                {{prescription.medicine}}
                            </td>
                            <td>
                                {{prescription.preparation}}
                            </td>
                            <td>
                                {{prescription.sig}}
                            </td>
                            <td>
                                {{prescription.quantity}}
                            </td>
                        </tr>
                    </table>
                    <span *ngIf="prescriptions == null">--</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Progress notes</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">
                    {{progressNotes}}
                    <span *ngIf="progressNotes == null">--</span>
                </div>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="6" [rowspan]="2" class="grid-content">
                <mat-grid-tile-header>
                    <h3>Test Results</h3>
                </mat-grid-tile-header>
                <div class="grid-inner-content grid-inner-content-list">Sample</div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="downloadChart()">Download Chart</button>
</mat-dialog-actions>
