table {
  width: 100%;
}
.physical-exam-right {
  width: 80% !important;
}

.physical-exam-right {
  width: 84%;
}
.physical-exam-wrapper > div:last-child {
  width: 80%;
}
td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

.hide {
  display: none;
}

.mat-paginator {
  background: transparent;
}

mat-footer-row mat-footer-cell {
  justify-content: center;
  font-style: italic;
}

.component-page-header {
  padding: 2em 0 0;
}

.search-div {
  position: relative;
}

.search-div button {
  margin-bottom: 1em;
}

.search-div mat-form-field {
  width: 92% !important;
  margin-left: 8%;
}

table.mat-table tbody tr td:last-child {
  width: 10%;
}

table.mat-table tbody tr td img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: visible;
}
