<h2 mat-dialog-title>{{ title }}
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </h2>
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="6" rowHeight="100px" [gutterSize]="'10px'">
        <mat-grid-tile [colspan]="6" [rowspan]="1" class="grid-content">
            <mat-grid-tile-header>
                <h3>Chief Complaints</h3>
            </mat-grid-tile-header>
            <div style="padding: 1em; margin-top: 3.2em;">
              <mat-chip-list>
                  <mat-chip *ngFor="let complaint of complaints" color="primary" selected>{{ complaint.complaint }}</mat-chip>
              </mat-chip-list>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="2" class="grid-content">
            <mat-grid-tile-header>
                <h3 style="width: 100%;">Assessment
                    <app-assessment-latest [complaintId]="id" [patientId]="patient"></app-assessment-latest>
                </h3>
            </mat-grid-tile-header>
            <div class="grid-inner-content grid-inner-content-list">
                <table class="table">
                    <tr>
                      <td>Diagnosis</td>
                      <td>Treatments</td>
                    </tr>
                    <tr>
                      <td>
                          <ul style="list-style: none;
                          padding: 0;
                          line-height: 2;
                          margin: 0;">
                            <li *ngFor="let diagnose of diagnosis">{{diagnose.diagnose}}</li>
                          </ul>
                          <span *ngIf="diagnosis == null">--</span>
                      </td>
                      <td>
                          <ul style="list-style: none;
                          padding: 0;
                          line-height: 2;
                          margin: 0;">
                            <li *ngFor="let treatment of treatments">{{treatment.treatment}}</li>
                          </ul>
                          <span *ngIf="treatments == null">--</span>
                      </td>
                    </tr>
                  </table>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="2" class="grid-content">
            <mat-grid-tile-header>
                <h3 style="width: 100%;">Prescription
                  <app-prescription-latest [complaintId]="id" [patientId]="patient"></app-prescription-latest>
                  <button class="mat-raised-button mat-primary" onPrintPreview(prescriptionId)><mat-icon>print</mat-icon> Print</button>
                </h3>
            </mat-grid-tile-header>
            <div class="grid-inner-content grid-inner-content-list">
                <table class="table">
                  <tr>
                    <td>Medicine</td>
                    <td>Preparation</td>
                    <td>Sig</td>
                    <td>Qty</td>
                  </tr>
                  <tr *ngFor="let prescription of prescriptions">
                    <td>
                        {{prescription.medicine}}
                    </td>
                    <td>
                        {{prescription.preparation}}
                    </td>
                    <td>
                        {{prescription.sig}}
                    </td>
                    <td>
                        {{prescription.quantity}}
                    </td>
                  </tr>
                </table>
                <span *ngIf="prescriptions == null">--</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="1" class="grid-content">
            <mat-grid-tile-header>
                <h3 style="width: 100%;">Progress notes
                  <app-progress-note-latest [complaintId]="id" [patientId]="patient"></app-progress-note-latest>
                </h3>
            </mat-grid-tile-header>
            <div class="grid-inner-content grid-inner-content-list">
                {{note}}
                <span *ngIf="note == null">--</span>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="6" [rowspan]="2" class="grid-content">
            <mat-grid-tile-header>
                <h3>Test Result</h3>
            </mat-grid-tile-header>
            <div class="grid-inner-content grid-inner-content-list">
              <p>on progress...</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions>
      <!-- <button class="mat-raised-button"(click)="print(0)">Print</button>
      <button class="mat-raised-button mat-primary"(click)="print(1)">Print and Close</button> -->
       <!--Your relevant print button-->
  </mat-dialog-actions>
