<div class="detail-wrapper">
    <div class="detail-left">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{fullname}}</mat-card-title>
                <mat-card-subtitle>ID: {{id}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{image}}" alt="{{fullname}}">
            <mat-card-content>
                <address>
                  Contact: {{contact}} <br/>
                  Gender: {{gender}} <br/>
                  Birthdate: {{birthdate}}
                </address>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent">Que</button>
                <button mat-button>Message</button>
            </mat-card-actions>
        </mat-card>
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-list-item> Salt </mat-list-item>
            <mat-list-item> Paprika </mat-list-item>
        </mat-list>
    </div>
    <div class="detail-right">
        <nav mat-tab-nav-bar>
            <a mat-tab-link [routerLink]="['/patient/medical-history']" routerLinkActive #rlaAmount="routerLinkActive" [active]="rlaAmount.isActive">Amount</a>
            <a mat-tab-link [routerLink]="['/patient/recipient']" routerLinkActive #rlaRecipient="routerLinkActive" [active]="rlaRecipient.isActive">Recipient</a>
            <a mat-tab-link [routerLink]="['/patient/sender']" routerLinkActive #rlaSender="routerLinkActive" [active]="rlaSender.isActive">Sender</a>
            <a mat-tab-link [routerLink]="['/patient/summary']" routerLinkActive #rlaSummary="routerLinkActive" [active]="rlaSummary.isActive">Summary</a>
            <a mat-tab-link [routerLink]="['/patient/checkout']" routerLinkActive #rlaCheckout="routerLinkActive" [active]="rlaCheckout.isActive">Checkout</a>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>