table {
    width: 100%;
}

.hide {
    display: none;
}

#no-data {
    width: 100%;
    text-align: center;
}

td.mat-cell.cdk-column-action.mat-column-action {
  text-align: right;
}

td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: hidden;
}

tr:hover td.mat-cell.cdk-column-action.mat-column-action button {
  visibility: visible;
}
mat-subheader {
  font-size: 16px;
}
